# Iterations in python 
1. iterations are loops to use perfrom the repeatative tasks or repeatative performance
2. 2.generally iterations are 2 types
3. `for` loop
4. `while` loop

```python - for loop
for iter_variable in sequence:
    print("for is keyword to start the iterations")
    print("iter_variable to iterate data from sequence")
    print("in is keyword to validate the sequence is present or not")
    print("sequence is collection like range,string,list,tuple,....etc")
```

```python - while loop
while (condition):
    print("while is keyword to start the loop and validation conditions based on values")
    print("if condition is true then inside statements are executed")
```

In [1]:
#wirte a program to print 1 to 60 numbers using for loop?
for num in range(1,61):
    print(num)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60

In [3]:
#write a program to iterate charecters from sting for loop?
name="Vikas Kumar"
for char in name:
    print(char)

V
i
k
a
s

K
u
m
a
r

In [4]:
#write a program to print even numbers in between 500 to 600 using for loop?
for n in range(500,601):
    if (n%2 == 0):
        print(n,end=",")

500,502,504,506,508,510,512,514,516,518,520,522,524,526,528,530,532,534,536,538,540,542,544,546,548,550,552,554,556,558,560,562,564,566,568,570,572,574,576,578,580,582,584,586,588,590,592,594,596,598,600,

In [9]:
#write a program to print odd numbers in between 1000 to 1100 using for loop?
for n in range (1000,1100):
    if(n%2 == 1):
        print(n,end=",")

1001,1003,1005,1007,1009,1011,1013,1015,1017,1019,1021,1023,1025,1027,1029,1031,1033,1035,1037,1039,1041,1043,1045,1047,1049,1051,1053,1055,1057,1059,1061,1063,1065,1067,1069,1071,1073,1075,1077,1079,1081,1083,1085,1087,1089,1091,1093,1095,1097,1099,

In [11]:
#wirte a program to find the vowels from sting using for loop?
name=str(input("please enter your name here:"))
for char in name:
    if (char in "aeiuoAEIOU"):
        print(char)

please enter your name here: rishikes

i
i
e

In [12]:
#write a program to find the non vowels from sting using for loop?
name=str(input("please enter your name here:"))
for char in name:
    if(char not in "aeiouAEIOU"):
        print(char)

please enter your name here: Maheshbabu

M
h
s
h
b
b

In [13]:
# write aprogram to irerate names from list names 
names =["shivaji","maheshbabu","rishikes"]
for n in names :
    print("my name is:",n)

my name is: shivaji
my name is: maheshbabu
my name is: rishikes

In [ ]:
#1. write a program to find the sum of all numbers in between 1 to 100 using for loop?
#2.write a progeam to find the sum of all even numbers in between 1 to 100 using for loop?
#3.write a progeam to find the sum of all odd numbers in between 1 to 100 using for loop?

In [5]:
# write a program to find the sum of all numbers in between 1 to 100 using for loop?
total = 0
for i in range(1, 101):
    total += i
    print("The sum of numbers from 1 to 100 is:",total)

The sum of numbers from 1 to 100 is: 1
The sum of numbers from 1 to 100 is: 3
The sum of numbers from 1 to 100 is: 6
The sum of numbers from 1 to 100 is: 10
The sum of numbers from 1 to 100 is: 15
The sum of numbers from 1 to 100 is: 21
The sum of numbers from 1 to 100 is: 28
The sum of numbers from 1 to 100 is: 36
The sum of numbers from 1 to 100 is: 45
The sum of numbers from 1 to 100 is: 55
The sum of numbers from 1 to 100 is: 66
The sum of numbers from 1 to 100 is: 78
The sum of numbers from 1 to 100 is: 91
The sum of numbers from 1 to 100 is: 105
The sum of numbers from 1 to 100 is: 120
The sum of numbers from 1 to 100 is: 136
The sum of numbers from 1 to 100 is: 153
The sum of numbers from 1 to 100 is: 171
The sum of numbers from 1 to 100 is: 190
The sum of numbers from 1 to 100 is: 210
The sum of numbers from 1 to 100 is: 231
The sum of numbers from 1 to 100 is: 253
The sum of numbers from 1 to 100 is: 276
The sum of numbers from 1 to 100 is: 300
The sum of numbers from 1 to 100 is: 325
The sum of numbers from 1 to 100 is: 351
The sum of numbers from 1 to 100 is: 378
The sum of numbers from 1 to 100 is: 406
The sum of numbers from 1 to 100 is: 435
The sum of numbers from 1 to 100 is: 465
The sum of numbers from 1 to 100 is: 496
The sum of numbers from 1 to 100 is: 528
The sum of numbers from 1 to 100 is: 561
The sum of numbers from 1 to 100 is: 595
The sum of numbers from 1 to 100 is: 630
The sum of numbers from 1 to 100 is: 666
The sum of numbers from 1 to 100 is: 703
The sum of numbers from 1 to 100 is: 741
The sum of numbers from 1 to 100 is: 780
The sum of numbers from 1 to 100 is: 820
The sum of numbers from 1 to 100 is: 861
The sum of numbers from 1 to 100 is: 903
The sum of numbers from 1 to 100 is: 946
The sum of numbers from 1 to 100 is: 990
The sum of numbers from 1 to 100 is: 1035
The sum of numbers from 1 to 100 is: 1081
The sum of numbers from 1 to 100 is: 1128
The sum of numbers from 1 to 100 is: 1176
The sum of numbers from 1 to 100 is: 1225
The sum of numbers from 1 to 100 is: 1275
The sum of numbers from 1 to 100 is: 1326
The sum of numbers from 1 to 100 is: 1378
The sum of numbers from 1 to 100 is: 1431
The sum of numbers from 1 to 100 is: 1485
The sum of numbers from 1 to 100 is: 1540
The sum of numbers from 1 to 100 is: 1596
The sum of numbers from 1 to 100 is: 1653
The sum of numbers from 1 to 100 is: 1711
The sum of numbers from 1 to 100 is: 1770
The sum of numbers from 1 to 100 is: 1830
The sum of numbers from 1 to 100 is: 1891
The sum of numbers from 1 to 100 is: 1953
The sum of numbers from 1 to 100 is: 2016
The sum of numbers from 1 to 100 is: 2080
The sum of numbers from 1 to 100 is: 2145
The sum of numbers from 1 to 100 is: 2211
The sum of numbers from 1 to 100 is: 2278
The sum of numbers from 1 to 100 is: 2346
The sum of numbers from 1 to 100 is: 2415
The sum of numbers from 1 to 100 is: 2485
The sum of numbers from 1 to 100 is: 2556
The sum of numbers from 1 to 100 is: 2628
The sum of numbers from 1 to 100 is: 2701
The sum of numbers from 1 to 100 is: 2775
The sum of numbers from 1 to 100 is: 2850
The sum of numbers from 1 to 100 is: 2926
The sum of numbers from 1 to 100 is: 3003
The sum of numbers from 1 to 100 is: 3081
The sum of numbers from 1 to 100 is: 3160
The sum of numbers from 1 to 100 is: 3240
The sum of numbers from 1 to 100 is: 3321
The sum of numbers from 1 to 100 is: 3403
The sum of numbers from 1 to 100 is: 3486
The sum of numbers from 1 to 100 is: 3570
The sum of numbers from 1 to 100 is: 3655
The sum of numbers from 1 to 100 is: 3741
The sum of numbers from 1 to 100 is: 3828
The sum of numbers from 1 to 100 is: 3916
The sum of numbers from 1 to 100 is: 4005
The sum of numbers from 1 to 100 is: 4095
The sum of numbers from 1 to 100 is: 4186
The sum of numbers from 1 to 100 is: 4278
The sum of numbers from 1 to 100 is: 4371
The sum of numbers from 1 to 100 is: 4465
The sum of numbers from 1 to 100 is: 4560
The sum of numbers from 1 to 100 is: 4656
The sum of numbers from 1 to 100 is: 4753
The sum of numbers from 1 to 100 is: 4851
The sum of numbers from 1 to 100 is: 4950
The sum of numbers from 1 to 100 is: 5050

In [11]:
#write a program to find the sum of all even numbers in between 1 to 100 using for loop?
total=0
for i in range(1,101):
    total+=i
    print("sum of odd number from 1 to 100",total)

sum of odd number from 1 to 100 1
sum of odd number from 1 to 100 3
sum of odd number from 1 to 100 6
sum of odd number from 1 to 100 10
sum of odd number from 1 to 100 15
sum of odd number from 1 to 100 21
sum of odd number from 1 to 100 28
sum of odd number from 1 to 100 36
sum of odd number from 1 to 100 45
sum of odd number from 1 to 100 55
sum of odd number from 1 to 100 66
sum of odd number from 1 to 100 78
sum of odd number from 1 to 100 91
sum of odd number from 1 to 100 105
sum of odd number from 1 to 100 120
sum of odd number from 1 to 100 136
sum of odd number from 1 to 100 153
sum of odd number from 1 to 100 171
sum of odd number from 1 to 100 190
sum of odd number from 1 to 100 210
sum of odd number from 1 to 100 231
sum of odd number from 1 to 100 253
sum of odd number from 1 to 100 276
sum of odd number from 1 to 100 300
sum of odd number from 1 to 100 325
sum of odd number from 1 to 100 351
sum of odd number from 1 to 100 378
sum of odd number from 1 to 100 406
sum of odd number from 1 to 100 435
sum of odd number from 1 to 100 465
sum of odd number from 1 to 100 496
sum of odd number from 1 to 100 528
sum of odd number from 1 to 100 561
sum of odd number from 1 to 100 595
sum of odd number from 1 to 100 630
sum of odd number from 1 to 100 666
sum of odd number from 1 to 100 703
sum of odd number from 1 to 100 741
sum of odd number from 1 to 100 780
sum of odd number from 1 to 100 820
sum of odd number from 1 to 100 861
sum of odd number from 1 to 100 903
sum of odd number from 1 to 100 946
sum of odd number from 1 to 100 990
sum of odd number from 1 to 100 1035
sum of odd number from 1 to 100 1081
sum of odd number from 1 to 100 1128
sum of odd number from 1 to 100 1176
sum of odd number from 1 to 100 1225
sum of odd number from 1 to 100 1275
sum of odd number from 1 to 100 1326
sum of odd number from 1 to 100 1378
sum of odd number from 1 to 100 1431
sum of odd number from 1 to 100 1485
sum of odd number from 1 to 100 1540
sum of odd number from 1 to 100 1596
sum of odd number from 1 to 100 1653
sum of odd number from 1 to 100 1711
sum of odd number from 1 to 100 1770
sum of odd number from 1 to 100 1830
sum of odd number from 1 to 100 1891
sum of odd number from 1 to 100 1953
sum of odd number from 1 to 100 2016
sum of odd number from 1 to 100 2080
sum of odd number from 1 to 100 2145
sum of odd number from 1 to 100 2211
sum of odd number from 1 to 100 2278
sum of odd number from 1 to 100 2346
sum of odd number from 1 to 100 2415
sum of odd number from 1 to 100 2485
sum of odd number from 1 to 100 2556
sum of odd number from 1 to 100 2628
sum of odd number from 1 to 100 2701
sum of odd number from 1 to 100 2775
sum of odd number from 1 to 100 2850
sum of odd number from 1 to 100 2926
sum of odd number from 1 to 100 3003
sum of odd number from 1 to 100 3081
sum of odd number from 1 to 100 3160
sum of odd number from 1 to 100 3240
sum of odd number from 1 to 100 3321
sum of odd number from 1 to 100 3403
sum of odd number from 1 to 100 3486
sum of odd number from 1 to 100 3570
sum of odd number from 1 to 100 3655
sum of odd number from 1 to 100 3741
sum of odd number from 1 to 100 3828
sum of odd number from 1 to 100 3916
sum of odd number from 1 to 100 4005
sum of odd number from 1 to 100 4095
sum of odd number from 1 to 100 4186
sum of odd number from 1 to 100 4278
sum of odd number from 1 to 100 4371
sum of odd number from 1 to 100 4465
sum of odd number from 1 to 100 4560
sum of odd number from 1 to 100 4656
sum of odd number from 1 to 100 4753
sum of odd number from 1 to 100 4851
sum of odd number from 1 to 100 4950
sum of odd number from 1 to 100 5050

In [12]:
#write a program to find the sum of all odd numbers in between 1 to 100 using for loop?
total=0
for i in range(1,101):
    total+=i
    print("sum of all odd numbers  the between the 1 to 100",total)

sum of all odd numbers  the between the 1 to 100 1
sum of all odd numbers  the between the 1 to 100 3
sum of all odd numbers  the between the 1 to 100 6
sum of all odd numbers  the between the 1 to 100 10
sum of all odd numbers  the between the 1 to 100 15
sum of all odd numbers  the between the 1 to 100 21
sum of all odd numbers  the between the 1 to 100 28
sum of all odd numbers  the between the 1 to 100 36
sum of all odd numbers  the between the 1 to 100 45
sum of all odd numbers  the between the 1 to 100 55
sum of all odd numbers  the between the 1 to 100 66
sum of all odd numbers  the between the 1 to 100 78
sum of all odd numbers  the between the 1 to 100 91
sum of all odd numbers  the between the 1 to 100 105
sum of all odd numbers  the between the 1 to 100 120
sum of all odd numbers  the between the 1 to 100 136
sum of all odd numbers  the between the 1 to 100 153
sum of all odd numbers  the between the 1 to 100 171
sum of all odd numbers  the between the 1 to 100 190
sum of all odd numbers  the between the 1 to 100 210
sum of all odd numbers  the between the 1 to 100 231
sum of all odd numbers  the between the 1 to 100 253
sum of all odd numbers  the between the 1 to 100 276
sum of all odd numbers  the between the 1 to 100 300
sum of all odd numbers  the between the 1 to 100 325
sum of all odd numbers  the between the 1 to 100 351
sum of all odd numbers  the between the 1 to 100 378
sum of all odd numbers  the between the 1 to 100 406
sum of all odd numbers  the between the 1 to 100 435
sum of all odd numbers  the between the 1 to 100 465
sum of all odd numbers  the between the 1 to 100 496
sum of all odd numbers  the between the 1 to 100 528
sum of all odd numbers  the between the 1 to 100 561
sum of all odd numbers  the between the 1 to 100 595
sum of all odd numbers  the between the 1 to 100 630
sum of all odd numbers  the between the 1 to 100 666
sum of all odd numbers  the between the 1 to 100 703
sum of all odd numbers  the between the 1 to 100 741
sum of all odd numbers  the between the 1 to 100 780
sum of all odd numbers  the between the 1 to 100 820
sum of all odd numbers  the between the 1 to 100 861
sum of all odd numbers  the between the 1 to 100 903
sum of all odd numbers  the between the 1 to 100 946
sum of all odd numbers  the between the 1 to 100 990
sum of all odd numbers  the between the 1 to 100 1035
sum of all odd numbers  the between the 1 to 100 1081
sum of all odd numbers  the between the 1 to 100 1128
sum of all odd numbers  the between the 1 to 100 1176
sum of all odd numbers  the between the 1 to 100 1225
sum of all odd numbers  the between the 1 to 100 1275
sum of all odd numbers  the between the 1 to 100 1326
sum of all odd numbers  the between the 1 to 100 1378
sum of all odd numbers  the between the 1 to 100 1431
sum of all odd numbers  the between the 1 to 100 1485
sum of all odd numbers  the between the 1 to 100 1540
sum of all odd numbers  the between the 1 to 100 1596
sum of all odd numbers  the between the 1 to 100 1653
sum of all odd numbers  the between the 1 to 100 1711
sum of all odd numbers  the between the 1 to 100 1770
sum of all odd numbers  the between the 1 to 100 1830
sum of all odd numbers  the between the 1 to 100 1891
sum of all odd numbers  the between the 1 to 100 1953
sum of all odd numbers  the between the 1 to 100 2016
sum of all odd numbers  the between the 1 to 100 2080
sum of all odd numbers  the between the 1 to 100 2145
sum of all odd numbers  the between the 1 to 100 2211
sum of all odd numbers  the between the 1 to 100 2278
sum of all odd numbers  the between the 1 to 100 2346
sum of all odd numbers  the between the 1 to 100 2415
sum of all odd numbers  the between the 1 to 100 2485
sum of all odd numbers  the between the 1 to 100 2556
sum of all odd numbers  the between the 1 to 100 2628
sum of all odd numbers  the between the 1 to 100 2701
sum of all odd numbers  the between the 1 to 100 2775
sum of all odd numbers  the between the 1 to 100 2850
sum of all odd numbers  the between the 1 to 100 2926
sum of all odd numbers  the between the 1 to 100 3003
sum of all odd numbers  the between the 1 to 100 3081
sum of all odd numbers  the between the 1 to 100 3160
sum of all odd numbers  the between the 1 to 100 3240
sum of all odd numbers  the between the 1 to 100 3321
sum of all odd numbers  the between the 1 to 100 3403
sum of all odd numbers  the between the 1 to 100 3486
sum of all odd numbers  the between the 1 to 100 3570
sum of all odd numbers  the between the 1 to 100 3655
sum of all odd numbers  the between the 1 to 100 3741
sum of all odd numbers  the between the 1 to 100 3828
sum of all odd numbers  the between the 1 to 100 3916
sum of all odd numbers  the between the 1 to 100 4005
sum of all odd numbers  the between the 1 to 100 4095
sum of all odd numbers  the between the 1 to 100 4186
sum of all odd numbers  the between the 1 to 100 4278
sum of all odd numbers  the between the 1 to 100 4371
sum of all odd numbers  the between the 1 to 100 4465
sum of all odd numbers  the between the 1 to 100 4560
sum of all odd numbers  the between the 1 to 100 4656
sum of all odd numbers  the between the 1 to 100 4753
sum of all odd numbers  the between the 1 to 100 4851
sum of all odd numbers  the between the 1 to 100 4950
sum of all odd numbers  the between the 1 to 100 5050

In [1]:
#write a program to find the boy or girl by using loop?
for boy or girl to dermine by the ("letters"):
if boy int("not end with the letters by the a,i,e"):
if girl int("end with the letters by the a,i,e"):
for n by give in:
   print("boy or girl")
   print("if this name is boy or girl")

SyntaxError: cannot assign to expression (2355913297.py, line 2)